* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-image: url("https://images.pexels.com/photos/531767/pexels-photo-531767.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}
.info-main {
  position: relative;
  top: -25px;
  height: 480px;
  width: 980px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgba(88, 88, 88, 0.3);
  box-shadow: 0px 0px 10px rgba(88, 88, 88, 0.3);
  margin-top: 100px;
}
.info {
  display: flex;
  justify-content: space-around;
  width: 75%;
}
.info2 {
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 72px;
}

.form {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

input {
  outline: none;
  padding: 10px 40px;
  border-radius: 10px;
  background-color: white;
  border: none;
  width: 450px;
}

.info2 p {
  font-size: xx-large;
}
.inner-main {
  position: relative;
  top: -190px;
  height: 160px;
  width: 180px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(88, 88, 88, 0.3);
  box-shadow: 0px 0px 10px rgba(88, 88, 88, 0.3);
  margin-top: 100px;
  text-align: center;
}

.inner-main p {
  font-size: x-large;
}
.inner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
